* {
    max-height: 650px;
    margin: 0 auto;
}

body {
    max-width: 960px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    background: url("../newimage/animals.gif");
    background-position: 50% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 80% 100%;
}



#playButton {
    /*height: 40px;*/
    width: 60px;
    background: green;
    font-weight: 700;
    color: yellow;
}

.choices:hover {
    background-color: black;
    color: red;
}

#background {
    max-width: 960px;
  
    width: 100%;
}

.title {
    opacity: .00;
    font-weight: 700;
    font-size: 40px;
}

h2 {
    font-size: 40px;
}

#question {
    opacity: .50;
    font-weight: 700;
    font-size: 40px;
    color: darkblue;
}

#choices {
    text-align: center;
    opacity: .50;
    font-weight: 700;
    color: black;
    height: 95%;
	border: 1px solid #eee;
}

#timer {
    opacity: .50;
    font-size: 22px;
    font-weight: 700;
}

.jumbotron {}

#wins {

    color: blue;
    height: 20px;
   
}

#losses {
    color: red;

   
}

.newBut {
	opacity: 1;
}

#foot{
	position: static;
	bottom: 0;
	  opacity: .50;
    font-size: 14px;
    font-weight: 700;
    color: blue;
}


