*{
	max-height: 650px;
}

body {
	max-width: 960px;
	width: 100%;

	box-sizing: border-box;
	margin: 0 auto;


}

#playButton{
	height: 40px;
	width: 60px;
	background: green;
	font-weight: 700;
	color: yellow;
}

.answer:hover,


#background{
		max-width: 960px;
		background: url(../images/animals.gif);
		width: 100%;

}

.title {
	opacity: .00;
	font-weight: 700;
	font-size: 40px;
}

h2{
	font-size: 40px;
}

#question{
	opacity: .50;
		font-weight: 700;

}	

#choices {
	text-align: center;
	opacity: .50;
		font-weight: 700;


}

#timer {
	opacity: .50;
	font-size: 22px;
	font-weight: 700;
}

.jumbotron{


}